.data-center,
.intelligence {
    // width: 100%;
    height: 510px;
    margin-top: 30px;
}
.page {
    background-image: url(../../assets/img/cerebrumImg//bg4.png);
    padding-top: 200px;
}
.user-portrait,
.model {
    height: 325px;
    margin-top: 30px;
}

.left {
    color: #19f1f9;
    font-size: 22px;
}



.library {
    padding-top: 110px;
    background: url(../../assets/img/cerebrumImg/004.png) no-repeat;
    background-size: 100% 60%;
    background-position: 0 180% ;
}

.library:nth-child(2) {
    padding-top: 0px;
    margin-top: -10px;
}
.library1 {
    background-size: 100% 70%;
    background-position: 0 140% ;
}
.library2 {
    background-size: 100% 95%;
    background-position: 0 350% ;
}
.library3 {
    background-size: 100% 86%;
    background-position: 0 350% ;
}
.library4 {
    background-size: 100% 80%;
    background-position: 0 230% ;
}
.library5 {
    background-size: 100% 100%;
}

.library div {
    width: 50%;
    height: 210px;
    cursor: pointer;
}

.library img {
    width: 112px;
    height: 93px;
}

.user-num {
    padding-top: 100px;
}

.user-pic {
    margin-top: -40px;
    width: 300px;
}

.num-detail {
    width: 280px;
    line-height: 60px;
    span {
        display: block;
        width: 160px;
        text-align: right;
        float: left;
    }
    .num {
        text-align: center;
        color: #f9b719;
        font-size: 20px;
        font-weight: 600;
        width: 120px;
    }
}
.middle {
    .cerebrum-bg {
        margin-left: -112px;
        margin-top: 100px;
    }
    .cerebrum1 {
        position: absolute;
        left: 750px;
        top: 200px;
        transform: scale(1,1);
        animation: cerebrum linear 8s infinite;
    }
    .text {
        position: absolute;
        left: 900px;
        bottom: 80px;
    }
}
.right {
    color: #19f1f9;
    .intelligence {
        .library {
            font-size: 18px;
            img {
                width: 100px;
                height: 100px;
            }
            div {
                height: 150px;
            }
        }
        .user-num {
            padding-top: 10px;
            font-size: 20px;
            li {
                overflow: hidden;
                padding-left: 30px;
                line-height: 53px;
            }
            span {
                width: auto;
                margin: 0 5px;
            }
            .user-pic img {
                width: 230px;
                padding-top: 30px;
                margin-left: -40px;
            }
        }
    }
    .model-library {
        width: 340px;
        .library {
            div {
                height: 100px;
                font-size: 14px;
            }
            img {
                width: 60px;
                height: 50px;
            }
        }
    }
    .model-num {
        padding-top: 110px;
        line-height: 90px;
        font-size: 22px;
        margin-left: -20px;
        span{
            width: 130px;
            text-align: right;
            display: block;
            float: left;
        }
        .num {
            color: #f9b719;
            font-size: 22px;
            font-weight: 600;
            text-align: left;
            overflow: visible;
            white-space: nowrap;
        }
    }
}
@keyframes cerebrum {
    0% {
        transform: scale(1,1);
        opacity: 1;
    }
    40% {
        transform: scale(0.9,0.9);
        opacity: 0.5;
    }
    100% {
        transform: scale(1,1);
        opacity: 1;
    }
}