@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,article,textarea{margin:0;padding:0;}
body{color:#666;font-family: 'Microsoft yahei',Arial;min-width:320px;}
table{border-collapse:collapse;border-spacing:0;}
ul,li,dl{list-style:none;list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
a{text-decoration:none; color:#666}
img{border:none;}
i{font-style:normal;}
input,textarea,select{outline:none;-webkit-appearance:none;padding:0;margin:0;font-family:HiraginoSansGB W3,Arial, Helvetica, sans-serif;}
input[type="radio"]{box-sizing:border-box;}
input[type="checkbox"]{border-radius:0px;}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {display: block;}
a,button,input,.flex1,textarea{-webkit-tap-highlight-color:rgba(255,0,0,0);}
.border-box{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.clr{
  
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clr:after {
  clear: both;
  display: block;
  content: '';
}

